.rc-slider-track {
    background-color: yellow !important;
}
.rc-slider-rail {
    height: 1px; 
    background-color: #ccc; 
}
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
    border-color: yellow !important;
}

.rc-slider-handle {
    border-color: yellow !important;
    box-shadow: 0 0 5px yellow;
    margin-top: -6px;
}
